{% extends "bootstrap/base.html" %}

    {% block metas %}
        {{ super() }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock metas %}

    {% block styles %}
        {{ super() }}
        <link href="{{ url_for('static', filename='css/clean-blog.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    {% endblock styles %}

{% block body %}
    <!-- Navigation -->
    {% block navbar %}
        <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        Menu <i class="fa fa-bars"></i>
                    </button>
                    {% if current_user.is_authenticated %}
                    <li>
                        <a class="navbar-brand" href="{{ url_for('main.user', username=current_user.username) }}">
                            Profile
                        </a>
                    </li>
                    {% endif %}
                    {% block sub_title %} {% endblock sub_title %}
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ url_for('main.index') }}">Home</a>
                        </li>
                        <li>
                            <a href="about.html">About</a>
                        </li>
                        <li>
                            <a href="post.html">Sample Post</a>
                        </li>
                        <li>
                            <a href="{{ url_for('main.contact') }}">Contact</a>
                        </li>
                        {% if current_user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                                    <li><a href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                                </ul>
                            </li>
                        {% else %}
                        <li>
                            <a href="{{ url_for('auth.login') }}">Log in</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
    {% endblock navbar %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% block page_header %}{% endblock page_header %}

    <!-- Main Content -->
    {% block main_content %}
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endblock main_content %}

    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Your Website 2016</p>
                </div>
            </div>
        </div>
    </footer>

    {% block scripts %}
        {{ super() }}
        {{ moment.include_moment() }}
        <script src="{{ url_for('static', filename='js/jqBootstrapValidation.js') }}"></script>
        <!-- Contact Form JavaScript -->
        <script src="{{ url_for('static', filename='js/contact_me.js') }}"></script>
        <!-- Theme JavaScript -->
        <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
    {% endblock scripts %}
{% endblock body %}
