{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Leo's Blog - Contact{% endblock title %}
{% block sub_title %}<a class="navbar-brand" href="{{ url_for('main.index') }}">Start from {{ moment(current_time).format('LLL') }}.</a> {% endblock sub_title %}
{% block page_header %}
    <header class="intro-header" style="background-image: url('{{ url_for('static', filename='img/contact-bg.jpg') }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Contact Me</h1>
                        <hr class="small">
                        <span class="subheading">Have questions about Leo? I have answers (maybe). LOL</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock page_header %}
{% block main_content %}
    {{ super() }}
<div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!</p>
                <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
                <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
                <!-- NOTE: To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
	            <div class="row control-group">
                    <div class="page-header">
                        <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}</h1>
                        {% if not known %}
                        <p>Pleased to meet you!</p>
                        {% else %}
                        <p>Happy to see you again!</p>
                        {% endif %}
                    </div>
                    {{ wtf.quick_form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
